<style>
.imgblock {
  text-align: center
}
*:focus { 
outline: none; 
}
a.headerlink,
a.headerlink:after,
a.headerlink:before {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

a.headerlink {
  color: rgba(49, 68, 107, .65);
  text-decoration: none
}

a.headerlink:before {
  color: #5a90d2;
  content: '[';
  display: block;
  font-size: 1.1em;
  left: 1.5em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  top: .9em
}

a.headerlink:after {
  color: #5a90d2;
  content: ']';
  display: block;
  font-size: 1.1em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  right: 1.5em;
  top: .9em
}

a.headerlink:hover:before {
  left: .15em;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

a.headerlink:hover:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  right: .15em
}

a.headerlink:hover {
  color: #295b98;
  background: 0 0;
  text-shadow: 0 0 5px rgba(100, 168, 233, .68), 0 0 10px rgba(100, 168, 233, .4), 0 0 30px rgba(100, 168, 233, .2)
}

a.headerlink.dark {
  color: #fff;
  text-decoration: none
}

a.headerlink.dark:hover {
  color: #fff
}

/* contact + resume buttons code */

/*contact button*/
.contactresume {
  border: .3em solid white;
  cursor: pointer;
}
.contactresume:hover {
  -webkit-animation: border-flicker .5s linear forwards;
          animation: border-flicker .5s linear forwards;
}
.contactresume h4{
  color:white;
}
.contactresume .fa {
  float:right;
  color:white;
  font-size: 4em;
}
.contactresume:hover h4 {
    text-shadow: 0 0 15px rgb(208, 95, 221);
}
.contactresume:hover .fa{
  color: rgb(208, 95, 221);
  -webkit-filter:drop-shadow(0 0 15px -1px rgb(208, 95, 221), 0 0 12px -1px rgb(208, 95, 221) inset);
          filter:drop-shadow(0 0 15px -1px rgb(208, 95, 221), 0 0 12px -1px rgb(208, 95, 221) inset);
}
@-webkit-keyframes border-flicker {
  34% {
    border: .3em solid rgb(208, 95, 221);
    box-shadow: 0 0 15px -1px rgb(208, 95, 221), 
    0 0 12px -1px rgb(208, 95, 221) inset;
  }
  100% {
    border: .3em solid rgb(208, 95, 221);
    box-shadow: 0 0 15px -1px rgb(208, 95, 221), 
    0 0 12px -1px rgb(208, 95, 221) inset;
  }
}
@keyframes border-flicker {
  34% {
    border: .3em solid rgb(208, 95, 221);
    box-shadow: 0 0 15px -1px rgb(208, 95, 221), 
    0 0 12px -1px rgb(208, 95, 221) inset;
  }
  100% {
    border: .3em solid rgb(208, 95, 221);
    box-shadow: 0 0 15px -1px rgb(208, 95, 221), 
    0 0 12px -1px rgb(208, 95, 221) inset;
  }
}


/*resume button*/
.contactresume.resume {
  border: .3em solid white;
  cursor: pointer;
}
.contactresume.resume:hover {
  -webkit-animation: border-flicker2 .5s linear forwards;
          animation: border-flicker2 .5s linear forwards;
}
.contactresume.resume h4{
  color:white;
}
.contactresume.resume .fa {
  float:right;
  color:white;
  font-size: 4em;
}
.contactresume.resume:hover h4 {
    text-shadow: 0 0 15px rgb(75, 199, 191);
}
.contactresume.resume:hover .fa{
  color: rgb(75, 199, 191);
  -webkit-filter:drop-shadow(0 0 15px -1px rgb(75, 199, 191), 0 0 12px -1px rgb(75, 199, 191) inset);
          filter:drop-shadow(0 0 15px -1px rgb(75, 199, 191), 0 0 12px -1px rgb(75, 199, 191) inset);
}
@-webkit-keyframes border-flicker2 {
  34% {
    border: .3em solid rgb(75, 199, 191);
    box-shadow: 0 0 15px -1px rgb(75, 199, 191), 
    0 0 12px -1px rgb(75, 199, 191) inset;
  }
  100% {
    border: .3em solid rgb(75, 199, 191);
    box-shadow: 0 0 15px -1px rgb(75, 199, 191), 
    0 0 12px -1px rgb(75, 199, 191) inset;
  }
}
@keyframes border-flicker2 {
  34% {
    border: .3em solid rgb(75, 199, 191);
    box-shadow: 0 0 15px -1px rgb(75, 199, 191), 
    0 0 12px -1px rgb(75, 199, 191) inset;
  }
  100% {
    border: .3em solid rgb(75, 199, 191);
    box-shadow: 0 0 15px -1px rgb(75, 199, 191), 
    0 0 12px -1px rgb(75, 199, 191) inset;
  }
}

.logo {
  -webkit-font-smoothing: subpixel-antialiased
}

.tooltip.darkbg .logo {
  -webkit-text-fill-color: #fff;
  -webkit-font-smoothing: subpixel-antialiased
}

.tooltip.darkbg:hover .logo,
.tooltip:hover .logo {
  -webkit-text-stroke-width: .05em;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-animation: colorchange 4s infinite
}

.tooltip {
  position: relative;
  display: inline-block;
  height: 5em
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10em;
  font-size: .8em;
  background-color: rgba(25, 68, 186, .54);
  color: #fff;
  text-align: center;
  border-radius: .4em;
  padding: .25em .05em;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 100%;
  vertical-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s
}

.tooltip.darkbg .tooltiptext {
  background-color: rgba(100, 168, 233, .32);
  color: #f3f7f9
}

.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -.4em;
  border-width: .4em;
  border-style: solid;
  border-color: transparent rgba(25, 68, 186, .54) transparent transparent
}

.tooltip.darkbg .tooltiptext:after {
  border-color: transparent rgba(100, 168, 233, .32) transparent transparent
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.tooltip.darkbg:hover .logo-wrap,
.tooltip:hover .logo-wrap {
  background-image: none
}

@-webkit-keyframes colorchange {
  0% {
    text-shadow: 0 0 5px rgba(100, 168, 233, .68), 0 0 10px rgba(100, 168, 233, .4), 0 0 30px rgba(100, 168, 233, .2)
  }

  20% {
    text-shadow: 0 0 5px rgba(100, 168, 233, .68), 0 0 10px rgba(100, 168, 233, .4), 0 0 20px rgba(100, 168, 233, .2)
  }

  40% {
    text-shadow: 0 0 5px rgba(75, 199, 191, .68), 0 0 10px rgba(75, 199, 191, .48), 0 0 30px rgba(75, 199, 191, .28)
  }

  60% {
    text-shadow: 0 0 5px rgba(75, 199, 191, .68), 0 0 10px rgba(75, 199, 191, .48), 0 0 20px rgba(75, 199, 191, .28)
  }

  80% {
    text-shadow: 0 0 5px rgba(208, 95, 221, .68), 0 0 10px rgba(208, 95, 221, .4), 0 0 30px rgba(208, 95, 221, .2)
  }

  100% {
    text-shadow: 0 0 5px rgba(208, 95, 221, .68), 0 0 10px rgba(208, 95, 221, .4), 0 0 20px rgba(208, 95, 221, .2)
  }
}

.w-slider-dot {
  height: 10px;
  width: 24px;
  background: #d5e7f9;
  top: 3px;
  pointer-events: none
}

.w-slider-dot.w-active {
  height: 10px;
  width: 24px;
  background: #293858;
  top: 3px
}

.w-slider-nav.w-round>div {
  width: 24px;
  border-radius: 20%
}

.dots-list-container,
.link-list-container,
.menu-button-2.mobilemenu {
  -webkit-backdrop-filter: saturate(1.8) blur(20px);
  backdrop-filter: saturate(1.8) blur(20px)
}

.dot-cover.w--current {
  margin-top: .6em;
  margin-bottom: .6em
}

#MagicMenu {
  background: inherit;
  z-index: 7500;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgba(243, 247, 249, .5);
  -webkit-backdrop-filter: saturate(1.8) blur(20px);
  backdrop-filter: saturate(1.8) blur(20px)
}

.disappear {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden
}

.scrolDisabled {
  position: fixed
}



a.buttontocasestudy,
a.buttontocasestudy:after,
a.buttontocasestudy:before {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

a.buttontocasestudy {
  color: rgba(49, 68, 107, .65);
  text-decoration: none
}

a.buttontocasestudy:before {
  color: rgba(49, 68, 107, .65);
  content: '[';
  display: block;
  font-size: 2em;
  left: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  position: absolute;
  top: .4em
}

a.buttontocasestudy:after {
  color: rgba(49, 68, 107, .65);
  content: ']';
  display: block;
  font-size: 2em;
  right: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  position: absolute;
  top: .4em
}

a.buttontocasestudy:hover:before {
  left: -.1em;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #295b98
}

a.buttontocasestudy:hover:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  right: -.1em;
  color: #295b98
}

a.buttontocasestudy:hover {
  color: #295b98;
  background: 0 0;
  text-shadow: 0 0 5px rgba(100, 168, 233, .8), 0 0 10px rgba(100, 168, 233, .5), 0 0 30px rgba(100, 168, 233, .3)
}



.roundy {
  height: 30px;
  width: 30px;
  display: inline-block
}
.roundy .path {
  fill: #293858
}

.roundy .contento {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 5
}

.arr {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  z-index: 6;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%)
}

.arr.right {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg)
}

.roundy .contento:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d5e7f9;
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%)
}

.icon-bg,
.icon-bg:after,
.icon-bg:before {
  border-radius: 50%;
  background-color: rgba(25, 68, 186, .34);
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
  width: 0;
  height: 0;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s
}

.roundy .icon-bg {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
}

.roundy .contento:hover .icon-bg {
  width: 130%;
  height: 130%
}



.icon-bg:before {
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -webkit-transition-delay: .1s;
          transition-delay: .1s
}

.icon-bg:after {
  opacity: .1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  -webkit-transition-delay: .2s;
          transition-delay: .2s
}

.disappear {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden
}

#preloader {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background-color: aliceblue;
  z-index: 99999999;
  width: 100vw;
  height: 100%
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  width: 4em;
  height: 4em;
  border: .4em solid #4bc7bf;
  border-radius: 1em;
  border-color: #64a8e9;
  -webkit-animation: loading 2.4s infinite ease-out;
          animation: loading 2.4s infinite ease-out;
  box-shadow: 0 0 5px rgba(100, 168, 233, .68), 0 0 10px rgba(100, 168, 233, .4), 0 0 20px rgba(100, 168, 233, .2)
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
            transform: perspective(120px) rotateX(0) rotateY(0);
    border-color: #64a8e9;
    box-shadow: 0 0 5px rgba(100, 168, 233, .68), 0 0 10px rgba(100, 168, 233, .4), 0 0 20px rgba(100, 168, 233, .2);
  }

  25% {
    -webkit-transform: perspective(120px) rotateX(180deg) rotateY(0);
            transform: perspective(120px) rotateX(180deg) rotateY(0);
    border-color: #d05fdd;
    box-shadow: 0 0 5px rgba(208, 95, 221, .68), 0 0 10px rgba(208, 95, 221, .4), 0 0 30px rgba(208, 95, 221, .2);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
            transform: perspective(120px) rotateX(0) rotateY(0);
    border-color: #64a8e9;
    box-shadow: 0 0 5px rgba(100, 168, 233, .68), 0 0 10px rgba(100, 168, 233, .4), 0 0 20px rgba(100, 168, 233, .2);
  }

  75% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(180deg);
            transform: perspective(120px) rotateX(0) rotateY(180deg);
    border-color: #4bc7bf;
    box-shadow: 0 0 5px rgba(75, 199, 191, .68), 0 0 10px rgba(75, 199, 191, .48), 0 0 30px rgba(75, 199, 191, .28);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
            transform: perspective(120px) rotateX(0) rotateY(0);
    border-color: #64a8e9;
    box-shadow: 0 0 5px rgba(100, 168, 233, .68), 0 0 10px rgba(100, 168, 233, .4), 0 0 20px rgba(100, 168, 233, .2);
  }

  25% {
    -webkit-transform: perspective(120px) rotateX(180deg) rotateY(0);
            transform: perspective(120px) rotateX(180deg) rotateY(0);
    border-color: #d05fdd;
    box-shadow: 0 0 5px rgba(208, 95, 221, .68), 0 0 10px rgba(208, 95, 221, .4), 0 0 30px rgba(208, 95, 221, .2);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
            transform: perspective(120px) rotateX(0) rotateY(0);
    border-color: #64a8e9;
    box-shadow: 0 0 5px rgba(100, 168, 233, .68), 0 0 10px rgba(100, 168, 233, .4), 0 0 20px rgba(100, 168, 233, .2);
  }

  75% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(180deg);
            transform: perspective(120px) rotateX(0) rotateY(180deg);
    border-color: #4bc7bf;
    box-shadow: 0 0 5px rgba(75, 199, 191, .68), 0 0 10px rgba(75, 199, 191, .48), 0 0 30px rgba(75, 199, 191, .28);
  }
}

</style>


